
/* NEW */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: Apercu Light; }

/* ------------------------------ GLOBAL VARIABLES */
/* ------------------------------ GLOBAL */
h1 {
  margin: 20px 0 40px 0; }

h2 {
  margin: 20px 0 40px 0; }

h3 {
  margin: 20px 0 40px 0; }

ul {
  margin: 0;
  padding: 0; }

/* HEADER */
.header13 {
  background-color: white;
  padding: 45px 70px 30px 70px;
  text-align: center;
  height: 185px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eeeeee; }

.header__content {
  display: flex;
  justify-content: space-between; }

.header__language {
  width: 30%;
  text-align: left;
  display: flex; }

.header__language li {
  list-style-type: none;
  padding: 0 2px; }

.header__language-single.active {
  border-bottom: 1px solid #000000; }

.header__logo {
  margin: 0;
  margin-bottom: 20px; }

.header__icons {
  width: 30%;
  text-align: right;
  display: flex;
  justify-content: flex-end; }

.header__icons li {
  list-style-type: none;
  padding: 0 10px; }

.header__menu {
  display: flex;
  justify-content: center; }

.header__menu li {
  list-style-type: none;
  padding: 0 20px;
  text-transform: uppercase; }

/* PAGES */
.page13 {
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 185px; }

.title {
  font-family: Butler;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  line-height: 48px;
  font-weight: 300; }

.text {
  color: #bababa;
  font-size: 17px;
  line-height: 27px; }

.button {
  width: 230px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  padding: 5px 12px;
  border: 0px solid #000000;
  border-width: 0 0 1px 0;
  text-transform: uppercase;
  font-size: 14px; }

.button .button-icon {
  float: right; }

.button-black {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  width: 190px;
  padding: 10px 15px; }

/* FOOTER */
.footer13 {
  margin-top: 50px;
  padding: 50px 0;
  text-align: center; }

.footer__menu {
  margin-bottom: 30px;
  display: block;
  text-transform: uppercase; }

.footer__menu li {
  list-style-type: none;
  display: inline-block;
  padding: 0 10px; }

.footer__social {
  display: block; }

.footer__social li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold; }

/* ------------------------------ HOME VARIABLES */
/* ------------------------------ HOME */
.full-section {
  width: 100%;
  position: relative;
  padding-bottom: 100px; }
  .full-section .home__section-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-color: #eeeeee; }
  .full-section .home__section-content {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 55%;
    padding: 40px 20px 40px 80px;
    background-color: #ffffff; }

.contained-section {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 100px 0; }
  .contained-section .home__section-image {
    display: inline-block;
    width: 60%;
    height: 350px;
    background-size: cover;
    background-color: #eeeeee; }
  .contained-section .home__section-content {
    position: absolute;
    top: 200px;
    right: 0;
    width: 60%;
    padding: 40px 20px 40px 80px;
    background-color: #ffffff; }

.home__oldcollection {
  text-align: right; }
  .home__oldcollection .home__section-content {
    position: absolute;
    left: 0;
    right: auto;
    padding: 40px 80px 40px 20px; }

.home__articles {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 100px 0;
  white-space: nowrap; }
  .home__articles .home__articles-content {
    display: inline-block;
    vertical-align: top;
    width: 440px;
    margin-right: 40px;
    white-space: initial; }
  .home__articles .home_articles-text {
    width: 400px; }

.home__articles-list-container {
  display: inline-block;
  position: relative;
  height: 400px;
  width: 1600px;
  overflow: hidden;
  white-space: initial; }

.home__articles-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; }

.home__articles-list-item {
  width: 270px;
  height: 400px;
  border: 1px solid #bababa;
  margin: 0 15px; }

.home__articles-list-image {
  width: 100%;
  height: 170px;
  background-color: #eeeeee; }

.home__articles-list-content {
  height: 230px;
  padding: 0 30px;
  display: flex;
  flex-direction: column; }

.home__articles-list-title {
  margin: 20px 0; }

.home__articles-list-button {
  width: 150px;
  align-self: flex-end;
  justify-content: flex-end; }

.home__articles-nav {
  position: absolute;
  right: 0;
  bottom: 30px; }

.home__articles-nav-arrow {
  display: inline-block;
  padding: 0 10px; }

