/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET CSS */
/* FONTS */
@font-face {
  font-family: 'apercu-light';
  src: url("../fonts/apercu-light-webfont.woff2") format("woff2"), url("../fonts/apercu-light-webfont.woff") format("woff"), url("../fonts/apercu-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'apercu-medium';
  src: url("../fonts/apercu-medium-webfont.woff2") format("woff2"), url("../fonts/apercu-medium-webfont.woff") format("woff"), url("../fonts/apercu-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'butler';
  src: url("../fonts/butler-bold-webfont.woff2") format("woff2"), url("../fonts/butler-bold-webfont.woff") format("woff"), url("../fonts/butler-bold-webfont.otf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'butler';
  src: url("../fonts/butler-regular-webfont.woff2") format("woff2"), url("../fonts/butler-regular-webfont.woff") format("woff"), url("../fonts/butler-regular-webfont.otf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'butler';
  src: url("../fonts/butler-light-webfont.woff2") format("woff2"), url("../fonts/butler-light-webfont.woff") format("woff"), url("../fonts/butler-light-webfont.otf") format("truetype");
  font-weight: lighter;
  font-style: normal; }

/* END FONTS */
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  font-family: 'apercu-light'; }

/* ------------------------------ GLOBAL VARIABLES */
/* ------------------------------ GLOBAL */
h1 {
  margin: 20px 0 40px 0;
  font-family: 'butler'; }

h2 {
  margin: 20px 0 40px 0;
  font-family: 'butler'; }

h3 {
  margin: 0 0 20px 0;
  font-family: 'butler';
  font-size: 24px; }

ul {
  margin: 0;
  padding: 0; }

a {
  color: #000000;
  text-decoration: none; }

a:hover {
  cursor: pointer; }

/* HEADER */
.header13 {
  background-color: white;
  padding: 45px 70px 0 70px;
  text-align: center;
  height: 170px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header13 #nav {
    height: 44px;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; }

.header__content {
  display: flex;
  justify-content: space-between; }

.header__language {
  width: 30%;
  text-align: left;
  display: flex; }

.header__language li {
  list-style-type: none;
  padding: 0 2px;
  margin-right: 12px;
  position: relative; }

.header__language li:first-of-type::after {
  content: '/';
  position: absolute;
  top: 0;
  right: -10px; }

.header__language-single.active {
  border-bottom: 1px solid #000000; }

.header__logo {
  margin: 0;
  margin-bottom: 20px; }

.header__logo img {
  width: 210px; }

.header__icons {
  width: 30%;
  text-align: right;
  display: flex;
  justify-content: flex-end; }

.header__icons li {
  list-style-type: none;
  padding: 0 10px; }

.header__icons-single img {
  height: 20px; }

.header__icons-cart {
  position: relative; }

.header__icons-cart-after {
  position: absolute;
  top: -8px;
  right: -6px;
  width: 13px;
  height: 13px;
  color: #ffffff;
  background-color: #ff596d;
  font-size: 9px;
  border-radius: 50%;
  text-align: center;
  padding: 2px; }

.header__menu {
  display: flex;
  justify-content: center;
  transition: 0.3s; }

.header__menu-link {
  list-style-type: none;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 5px 20px 20px 20px;
  text-transform: uppercase;
  display: block;
  border-bottom: 5px solid transparent; }

.header__menu-link:hover {
  border-bottom: 5px solid black; }

.header__submenu {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  justify-content: center;
  height: 0;
  padding: 0;
  background-color: #ffffff;
  overflow: hidden;
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0;
  transition: 0.4s ease; }

.header__submenu-newest {
  padding: 40px 50px; }

.header__submenu-all {
  padding: 40px 50px;
  width: 400px; }

.header__submenu-title {
  text-align: left;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px; }

.header__submenu-menu {
  height: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start; }

.header__submenu-link {
  margin-right: 50px;
  line-height: 18px;
  font-size: 12px; }

.header__submenu-link:hover {
  text-decoration: underline; }

/* Showing the submenu */
.header__menu-link-coll:hover + .header__submenu-coll {
  height: 150px;
  color: #000000;
  border-width: 1px 0; }

.header__submenu-coll:hover {
  height: 150px;
  color: #000000;
  border-width: 1px 0; }

/* PAGES */
.page13 {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  margin-top: 170px;
  transition: 0.3s; }

.title {
  font-family: 'butler';
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 50px;
  line-height: 48px;
  font-weight: 300; }

.text {
  color: rgba(0, 0, 0, 0.3);
  font-size: 17px;
  line-height: 27px; }

.text-small {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 17px; }

.button {
  width: 230px;
  display: inline-block;
  text-align: left;
  margin-top: 20px;
  padding: 10px 12px;
  border: 0px solid #000000;
  border-width: 0 0 1px 0;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: 'apercu-medium'; }

.button .button-icon {
  float: right; }

.button-black {
  background-color: #000000;
  text-align: center;
  color: #ffffff;
  width: auto;
  padding: 16px 64px; }

label {
  position: relative;
  border-radius: 0; }

select {
  appearance: none;
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  border-radius: 0; }

label::after {
  content: '>';
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 23px;
  top: 0;
  line-height: 20px;
  position: absolute; }

select, textarea, input[type="text"] {
  width: 250px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-width: 0 0 2px 0;
  padding: 10px 10px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 20px;
  overflow: hidden; }

input[type="submit"], .submit-white {
  width: 250px;
  margin: 5px 0;
  padding: 15px 15px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'apercu-medium'; }

input[type="submit"]:hover {
  cursor: pointer; }

.submit-white {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #000000; }

/* Nav sticky */
.nav-sticky.header13 {
  height: 75px;
  padding: 30px 70px; }

.nav-sticky .header__logo {
  display: none; }

.nav-sticky .header__menu {
  margin-top: -2px; }

.nav-sticky .header__menu-link {
  padding-bottom: 23px; }

.nav-sticky.page13 {
  margin-top: 75px; }

/* FOOTER */
.footer13 {
  margin-top: 50px;
  padding: 70px 0 10px 0;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.footer__menu {
  display: block;
  margin-bottom: 30px; }

.footer__menu li {
  padding: 0 20px;
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase; }

.footer__social {
  display: block;
  margin-bottom: 35px; }

.footer__social li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold; }

.footer__legals {
  margin-bottom: 5px; }

/* ------------------------------ MODULES ---------------------------------- */
.module13 {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.module13__underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.module13__overlay {
  display: none;
  position: fixed;
  z-index: 19;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); }

.module13__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px; }

.module13__close::before, .module13__close::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 22px;
  height: 1px;
  background-color: #000000;
  transform: rotate(45deg); }

.module13__close::after {
  transform: rotate(-45deg); }

.module13__popin {
  position: relative;
  background-color: #ffffff;
  padding: 70px;
  box-shadow: 5px 5px 0 #000000; }

.module13__popin input[type="text"], .module13__popin select {
  width: 230px; }

/* ------------------------------ SUBSCRIBE */
.subscribe {
  display: none; }

.subscribe__popin {
  padding: 40px 60px;
  display: flex; }

.subscribe__logo {
  width: 25px;
  margin-right: 35px; }

.subscribe__content {
  max-width: 350px;
  padding: 0 45px; }

.subscribe__content-text {
  margin-bottom: 20px;
  line-height: 23px; }

input[type="text"].subscribe__content-email {
  margin: 0;
  margin-bottom: 10px;
  width: 100%; }

/* ------------------------------ REGISTER */
.register {
  display: none; }

.register__popin {
  display: flex;
  padding: 55px 70px;
  justify-content: center;
  align-items: center; }

.register__login {
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 0 1px 0 0;
  padding: 15px 70px 15px 0; }

.register__login-text {
  margin-bottom: 35px; }

.register__login-form input {
  width: 100%;
  margin-bottom: 20px; }

.register__signup {
  max-width: 370px;
  padding-left: 70px; }

.register__signup-text {
  margin-bottom: 25px; }

/* ------------------------------ SIGN UP */
.signup {
  display: none; }

.signup__intro {
  max-width: 380px;
  margin-bottom: 20px; }

.signup__form {
  display: flex;
  align-items: flex-end; }

.signup__form-right {
  margin-left: 60px; }

.signup__send input {
  max-width: 185px; }

.signup__send-connect {
  display: inline-block;
  margin-left: 60px; }

.signup__send-connect-link {
  text-decoration: underline; }

/* ------------------------------ CART */
.cart {
  display: none;
  justify-content: flex-end; }

.cart__popin {
  position: fixed;
  padding: 45px;
  top: 0;
  left: 45%;
  width: 55%;
  height: 100%;
  transform: none;
  transition: 0.3s; }

.cart__content {
  height: 365px;
  width: 100%;
  overflow-y: auto; }

.cart__content-product {
  padding: 20px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.cart__content-product:last-of-type {
  border: none; }

.cart__content-product-image {
  width: 80px;
  height: 80px;
  background-color: #eeeeee; }

.cart__content-product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-left: 35px; }

.cart__content-product-sc {
  line-height: 18px; }

.cart__content-product-price {
  text-align: right; }

.cart__content-product-delete {
  margin-bottom: 15px;
  font-size: 12px;
  display: block;
  color: #ffb1ba; }

.cart__content-product-delete:hover {
  text-decoration: underline; }

.cart__content-product-cost {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3); }

.cart__content-product-cost b {
  font-size: 22px;
  color: #000000;
  letter-spacing: 2px;
  margin-right: 5px; }

.cart__details {
  margin-top: 20px; }

.cart__details-content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.cart__details-totals {
  width: 290px; }

.cart__details-totals li {
  display: flex;
  justify-content: space-between;
  line-height: 22px;
  font-size: 12px; }

.cart__details-totals-price {
  letter-spacing: 2px; }

.cart__details-promo {
  margin-left: 40px; }

.cart__pay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 50px; }

.cart__pay-total {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 290px; }

.cart__pay-total-label {
  font-size: 14px;
  font-family: 'butler'; }

.cart__pay-total-label b {
  font-size: 24px; }

.cart__pay-total-price {
  font-size: 24px;
  letter-spacing: 2px;
  white-space: nowrap; }

.cart__pay-link {
  padding: 15px 20px;
  width: 250px;
  letter-spacing: 2px;
  margin-left: 40px; }

/* --------------------------------- PAGES --------------------------------- */
/* ------------------------------ HOME VARIABLES */
/* ------------------------------ HOME */
.full-section {
  width: 100%;
  position: relative;
  padding-bottom: 100px; }
  .full-section .home__section-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-color: #eeeeee; }
  .full-section .home__section-content {
    position: absolute;
    top: 150px;
    right: 0px;
    width: 55%;
    padding: 40px 80px 40px 80px;
    background-color: #ffffff;
    transition: 0.2s; }
  .full-section .home__section-content:hover {
    box-shadow: 5px 5px 0 #000000; }

.contained-section {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 100px 0; }
  .contained-section .home__section-image {
    display: inline-block;
    width: 60%;
    height: 350px;
    background-size: cover;
    background-color: #eeeeee; }
  .contained-section .home__section-content {
    position: absolute;
    top: 200px;
    right: 0;
    width: 60%;
    padding: 40px;
    padding-left: 80px;
    background-color: #ffffff;
    transition-duration: 0.2s; }
  .contained-section .home__section-content:hover {
    box-shadow: 5px 5px 0 #000000; }

.home__oldcollection {
  text-align: right; }
  .home__oldcollection .home__section-content {
    position: absolute;
    left: 0;
    right: auto;
    padding: 40px;
    padding-right: 80px; }

.home__articles {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 100px 0;
  white-space: nowrap; }
  .home__articles .home__articles-content {
    display: inline-block;
    vertical-align: top;
    width: 440px;
    margin-right: 40px;
    white-space: initial;
    padding: 40px;
    transition: 0.2s; }
  .home__articles .home__articles-content:hover {
    box-shadow: 5px 5px 0 #000000; }
  .home__articles .home_articles-text {
    width: 400px; }

.home__articles-list-container {
  display: inline-block;
  position: relative;
  height: 400px;
  width: 1600px;
  overflow: hidden;
  white-space: initial; }

.home__articles-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.4s ease; }

.home__articles-list-item {
  width: 270px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 15px; }

.home__articles-list-image {
  width: 100%;
  height: 170px;
  background-color: #eeeeee; }

.home__articles-list-content {
  height: 230px;
  padding: 0 30px;
  display: flex;
  flex-direction: column; }

.home__articles-list-title {
  margin: 20px 0; }

.home__articles-list-text {
  flex-grow: 1;
  font-size: 14px;
  line-height: 1.45em;
  color: rgba(0, 0, 0, 0.3); }

.home__articles-list-button {
  width: 150px;
  align-self: flex-end;
  margin-bottom: 20px; }

.home__articles-nav {
  position: absolute;
  right: 30px;
  bottom: 30px; }

.home__articles-nav-arrow {
  display: inline-block;
  padding: 0 10px; }

/* ---------------------------------------------------------------------- */
/* ------------------------------ PRODUCT VARIABLES */
/* ------------------------------ PRODUCT */
.product {
  width: 100%;
  position: relative; }

.product__back {
  position: fixed;
  top: 170px;
  left: 0;
  width: 200px;
  padding: 60px 0;
  text-align: center;
  transition: 0.3s; }

.product__back-link img {
  width: 20px;
  margin-right: 10px; }

.product__image {
  width: 50%;
  padding-left: 200px; }

.product__image img {
  width: 100%;
  margin-top: -3px; }

.product__infos {
  position: fixed;
  top: 170px;
  left: 50%;
  width: 500px;
  padding: 60px 50px;
  transition: 0.3s; }

.product__infos-title {
  margin: 0 0 5px 0;
  font-size: 34px;
  text-transform: initial; }

.product__infos-ref {
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px; }

.product__infos-price {
  display: inline-block;
  margin-top: 25px;
  font-size: 20px;
  letter-spacing: 2px; }

.product__infos-price-tax {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  margin-left: 5px; }

.product__infos-description {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 20px; }

.product__infos-description-more {
  margin-top: 15px;
  color: #444444;
  font-size: 14px;
  display: block; }

.product__infos-options {
  margin-top: 40px; }

.product__infos-options label::after {
  right: 17px; }

.product__infos-options select {
  display: inline-block;
  margin: 14px 0; }

.product__infos-options input {
  margin: 10px 0; }

.nav-sticky .product__back {
  transition: 0.3s;
  top: 75px; }

.nav-sticky .product__infos {
  transition: 0.3s;
  top: 75px; }

/* ---------------------------------------------------------------------- */
/* ------------------------------ COLLECTION VARIABLES */
/* ------------------------------ COLLECTION */
.collection__header {
  width: 100%;
  padding: 100px 0 30px 40%;
  background-color: #eeeeee;
  background-size: cover; }

.collection__header-content {
  background-color: #ffffff;
  padding: 45px 70px; }

.collection__header-text {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px; }

.collection__header-title {
  margin: 0;
  padding: 0;
  letter-spacing: 8px; }

.collection__filters {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-width: 1px 0; }

.collection__filters-content {
  width: 870px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px; }

.collection__filters-content form {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.collection__filters-button {
  padding: 0 20px 0 0;
  height: 40px;
  line-height: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.1); }

.collection__filters-content label {
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.collection__filters-single {
  display: inline-block;
  padding: 0 20px;
  margin: 0 20px;
  height: 21px;
  border: none;
  width: auto;
  text-transform: capitalize; }

.collection__filters-content label:first-of-type {
  border: none; }

.collection__filters-promo {
  display: inline-block;
  padding: 0 0 0 20px;
  margin: 0 20px 0 0;
  line-height: 20px;
  border: none;
  width: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
  font-size: 12px;
  color: #ff596d; }

.collection__gallery {
  padding: 90px 0 0 0; }

.collection__gallery-content {
  width: 885px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap; }

.collection__gallery-single {
  padding: 0 10px;
  margin-bottom: 70px;
  text-align: center; }

.collection__gallery-single-imgbox {
  width: 200px;
  height: 300px;
  background-color: #000000; }

.collection__gallery-single-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  transition: 0.1s;
  display: block; }

.collection__gallery-single-image:hover {
  top: -4px;
  left: -4px; }

.collection__gallery-single-name {
  margin: 20px 0 10px 0;
  font-size: 16px; }

.collection__gallery-single-price {
  font-size: 15px; }

/* ------------------------------ HOME VARIABLES */
/* ------------------------------ HOME */
.full-section-about {
  width: 100%;
  position: relative;
  padding-bottom: 50px; }
  .full-section-about .about__section-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-color: #eeeeee; }
  .full-section-about .about__section-content {
    position: absolute;
    top: 120px;
    right: 0px;
    width: 60%;
    padding: 40px 100px 80px 80px;
    background-color: #ffffff;
    transition: 0.2s; }

.contained-section-about {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 50px 0 0 0; }
  .contained-section-about .about__section-image {
    display: inline-block;
    width: 50%;
    height: 430px;
    background-size: cover;
    background-color: #eeeeee; }
  .contained-section-about .about__section-content {
    position: absolute;
    top: 125px;
    right: 0;
    width: 62%;
    padding: 40px;
    padding-left: 80px;
    background-color: #ffffff;
    transition-duration: 0.2s; }
  .contained-section-about .about__section-title {
    text-transform: initial; }

.about__owner {
  text-align: right; }
  .about__owner .about__section-content {
    position: absolute;
    left: 0;
    right: auto;
    padding: 40px;
    padding-right: 80px;
    text-align: left; }

.about__owner-center .about__section-content {
  position: static;
  width: 100%;
  padding: 0 160px; }

.about__owner-center .about__section-quote {
  margin-top: 50px;
  margin-left: 160px;
  padding-left: 30px;
  border-left: 4px solid #000000;
  font-weight: bold;
  line-height: 24px; }

.about__instagram {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 100px 0;
  margin-top: 50px;
  white-space: nowrap; }
  .about__instagram .about__instagram-content {
    display: inline-block;
    vertical-align: top;
    width: 440px;
    margin-right: 40px;
    white-space: initial;
    padding: 70px 40px;
    transition: 0.2s;
    text-align: right; }
  .about__instagram .about__instagram-title {
    margin-bottom: 30px; }
  .about__instagram .about__articles-text {
    width: 400px; }
    .about__instagram .about__articles-text img {
      height: 17px;
      margin-right: 10px; }

.about__instagram-list-container {
  display: inline-block;
  position: relative;
  height: 270px;
  width: 1600px;
  overflow: hidden;
  white-space: initial; }

.about__instagram-list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transition: 0.4s ease; }

.about__instagram-list-image {
  width: 270;
  height: 270px;
  background-color: #eeeeee;
  margin: 0 15px; }

.about__instagram-list-content {
  height: 230px;
  padding: 0 30px;
  display: flex;
  flex-direction: column; }

.about__instagram-list-title {
  margin: 20px 0; }

.about__instagram-list-text {
  flex-grow: 1; }

.about__instagram-list-button {
  width: 150px;
  align-self: flex-end;
  margin-bottom: 20px; }

.about__instagram-nav {
  position: absolute;
  right: 30px;
  bottom: 30px; }

.about__instagram-nav-arrow {
  display: inline-block;
  padding: 0 10px; }

/* ------------------------------ HOME VARIABLES */
/* ------------------------------ HOME */
.contained-section-contact {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 250px; }
  .contained-section-contact .contact__section-image {
    display: inline-block;
    width: 50%;
    height: 430px;
    background-size: cover;
    background-color: #eeeeee; }
  .contained-section-contact .contact__section-content {
    position: absolute;
    top: 120px;
    right: 0;
    width: 62%;
    padding: 60px 70px;
    background-color: #ffffff; }
  .contained-section-contact .contact__section-title {
    margin: 0 0 25px 0; }
  .contained-section-contact .contact__section-text {
    margin-bottom: 40px; }
  .contained-section-contact .contact__section-form-la {
    width: 100%; }
  .contained-section-contact .contact__section-form-area {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 37px;
    min-height: 37px;
    max-height: 120px; }
