<?xml version="1.0"?>
<config>
    <modules>
        <13_Dbchange>
            <version>0.1.0</version>
        </13_Dbchange>
    </modules>
    <global>
        <resources>
            <13_dbchange_setup>
              <setup>
                   <module>13_Dbchange</module>
                   <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
              </setup>
          </13_dbchange_setup>
        </resources>
    </global>
</config>

